.summary {
    border: 1px solid rgb(175, 175, 175);
    border-radius: 4px;
    position: relative;
    background: -moz-linear-gradient(top left, white, #8EC3B0);
}

.img {
    border: 1px solid rgb(175, 175, 175);
    border-radius: 4px;
    padding: 5px;
    width: 220px;
}

h4 {
    text-align: center;
}

.origin {
    display: inline;
    margin-bottom: 0.3rem;
    margin-right: 0.3rem;
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.55rem;
}