.Create {
    display: flex;
}

.img {
    display: flex;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 4px;
}

.items {
    display: flex;
}

.form {
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 2rem;
}

.label {
    display: inline-block;
    width: 180px;
}


.elementForm {
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
}

.msgError {
    display: inline;
    color: rgb(194, 84, 84);
}

.msgDetail {
    margin-top: 0rem;
    font-size: 0.75rem;
    white-space: pre-line
}