.Create {
    display: flex;
}

.img {
    display: flex;
    height: auto;
    width: 500px;
    box-shadow: 10px 5px 5px #8EC3B0;
}

.items {
    display: flex;
}

.form {
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 2rem;
}

.label {
    display: inline-block;
    width: 180px;
}

.elementForm {
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
}

.msgDetail {
    margin-top: 0rem;
    font-size: 0.75rem;
    white-space: pre-line
}