.Search {
    display: flex;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 4px;
    justify-content: space-between;
    background: -moz-linear-gradient(top left, white, #8EC3B0);
    box-shadow: 10px 5px 5px #8EC3B0;
}

.items {
    display: flex;
    position: relative;
}

.cargando {
    color: rgb(175, 175, 175);
    font-size: 0.9rem;
    position: absolute;
    bottom: -0.2rem;
    left: 1rem;
}

.clean {
    margin: auto;
}

.create {
    margin: auto;
}