.Search {
    display: flex;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 4px;
    justify-content: space-between;
}

.items {
    display: flex;
    position: relative;
}

.cargando {
    font-size: 0.75rem;
    position: absolute;
    bottom: 0;
    left: 1rem;
}