.Global {
    padding: 0.6rem;
    margin: 0.4rem;
}

.msgError {
    display: inline;
    color: rgb(194, 84, 84);
    font-size: 0.9rem;
}

body {
    background: -moz-linear-gradient(top left, white, #DEF5E5);
}

a, a:link, a:visited{
    text-decoration:none;
    color: #519e82;
}

button, select {
    color: #519e82;
    cursor: pointer;
}

option {
    color: #519e82;
}