.TemperamentFilter {
    position: relative;
}

.msgDetail {
    margin: 0rem;
    position: absolute;
}

.loading {
    color: rgb(175, 175, 175);
    font-size: 0.9rem;
    position: absolute;
    margin: 0;
    left: 1rem;
}